spring:
  datasource:
    url: jdbc:postgresql://db:5432/app_db
    username: app_user
    password: app_pass
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG


server:
  port: 8080
  ssl:
    enabled: false