spring:
  datasource:
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false

  flyway:
    enabled: true
    clean-disabled: false
    baseline-on-migrate: true
    locations: classpath:db/migration

logging:
  level:
    org.flywaydb: info
    org.testcontainers: info
